/* Estilos Gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff; /* Fundo claro para contraste */
    width: 320px; /* Largura aumentada para um layout mais largo */
}

.container {
    padding: 20px;
    text-align: center;
    background-color: #fff; /* Fundo claro para o container */
}

.title {
    color: #026815; /* Verde para o título, garantindo bom contraste */
    margin-bottom: 20px; /* Espaçamento aumentado para clareza */
}

/* Área de Texto para Combinacoes */
#combinacoes {
    width: 90%;
    max-width: 300px; /* Ajuste da largura máxima para o novo layout */
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #00ff06; /* Borda verde para combinar com a logo */
    font-size: 12px; /* Tamanho da fonte aumentado para melhor legibilidade */
    resize: none; /* Desabilita o redimensionamento */
    background-color: #f9f9f9; /* Fundo levemente cinza para destacar a área */
}

/* Botão Apostar */
button {
    width: 100%;
    padding: 12px; /* Padding aumentado para melhor toque em dispositivos móveis */
    border: none;
    background-color: #00ff06; /* Botão verde */
    color: white;
    font-size: 20px; /* Tamanho da fonte ajustado para balancear a visualização */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #026815; /* Verde escuro ao passar o mouse */
}

/* Estilização do Footer */
.footer {
    margin-top: 20px;
    font-size: 10px; /* Tamanho de fonte ajustado para melhor leitura */
    color: #666;
}

.pix {
    font-weight: bold;
    color: #000; /* Texto do PIX em preto para destacar */
 font-size: 10px; /* Tamanho de fonte ajustado para melhor leitura */
}

/* Barra com o Logo */
.logo-bar {
    background-color: #333; /* Fundo escuro para a barra */
    padding: 10px 20px; /* Espaçamento interno */
    display: flex;
    justify-content: center; /* Centraliza o logo na barra */
    align-items: center;
}

.logo {
    background-image: url('images/apostafacil_logo.png'); /* Atualize com o caminho correto do novo logo */
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px; /* Ajuste conforme necessário */
    width: 100%; /* Usa a largura total da barra para o logo */
    max-width: 200px; /* Limita a largura máxima do logo */
}

}

.navbar {
    height: 50px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-toggle {
    display: none;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.main-nav {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links {
    text-decoration: none;
    color: #fff;
    padding: 0 15px;
    line-height: 50px;
    transition: background-color 0.3s ease;
}

.nav-links:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .main-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #333;
    }

    .nav-links {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .main-nav.active {
        display: flex;
    }
}
